* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #edecf4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90vh;
  width: 90vw;
  border-radius: 12px;
  background: white;
  display: flex;
}

.left-section {
  width: 50%;
  position: relative;
}
.right-section {
  width: 50%;
}
.img-container {
  width: 95%;
  margin-left: 5%;
  height: 95%;
}

.black-box {
  height: 40vh;
  width: 40vw;
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 80%;
}
.left-section h1 {
  font-size: 3rem;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 10%;
}
.h-container {
  position: relative;
}
.underline {
  position: absolute;
  bottom: 0;
  left: 42%;
  height: 4px;
  width: 6rem;
  background: white;
}
.left-section p {
  font-size: 0.9rem;
  color: #f5f5f5;
  width: 80%;
  margin: 4% auto;
  font-family: 'Arial', 'Helvetica', sans-serif;
  letter-spacing: 0.2px;
  line-height: 1.4;
  text-align: justify;
  padding: 1rem;
}

.button-signin {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 4%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sign-button {
  height: 2rem;
  width: 7rem;
  margin-top: 10%;
  margin-bottom: 5%;
  background: transparent;
  border-color: #3f27d7;
  border-radius: 4px;
  color: #3f27d7;
  font-weight: 600;
}
.right-section h1 {
  text-align: center;
  font-size: 2.8rem;
  color: #3f27d7;
  font-weight: 600;
  margin-bottom: 1%;
}

.right-section p {
  text-align: center;
  font-size: 1rem;
  color: #3f27d7;
  font-weight: 600;
  margin-bottom: 4%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  width: 80%;
  margin: auto;
}
.name-input {
  display: flex;
  justify-content: space-between;
}

input {
  padding: 0.7rem;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.get-started-button {
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  background-color: #3f27d7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.get-started-button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .left-section {
    display: none;
  }

  .right-section {
    width: 100%;
    padding: 2rem;
    height: 100%;
    overflow: hidden;
  }

  .right-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .right-section p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  form {
    width: 100%;
    padding: 0 1rem;
  }

  input {
    font-size: 1rem;
    padding: 0.6rem;
  }
  .name-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }

  .get-started-button {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}
